<!doctype html>
<div>
  <h1>Metroid Randomizer</h1>
  <p>Fill in a Seed to download a randomized version of Metroid that is playable in an emulator.</p>

  <form action="/randomize" method="GET">
    <div style="width: 400px;">
      <input type="submit" value="Generate" style="float: right" />
      <div style="overflow: hidden; padding-right: .5em;">
         <input type="text" name="seed" value="{{default_seed}}" style="width: 100%;" />
      </div>
    </div>
  </form>

  <h2>Guarantees</h2>
  <ul>
      <li>The same seed will generate the same output, so that the Randomizer can be used for races</li>
      <li>The Morph Ball is in its normal location because you can't go a lot of places without it</li>
      <li>There is at least one Missile container that is accessible with nothing other than the Morph Ball</li>
      <li>Bombs can only be blocked by the Morph Ball and Missiles</li>
  </ul>
  <h2>Caveats</h2>
  <ul>
      <li>The password system doesn't track the items in the vanilla Ice Beam, Wave Beam, and Long Beam locations. So, if you get
          any of those items and die, you will lose the items and they will respawn in their original locations.</li>
      <li>I haven't figured out how Ice Beam respawns work. If you collect the Wave Beam after collecting both Ice Beams, you might be
          stuck with the Wave Beam forever.</li>
      <li>Every game should be winnable without major glitch abuse (like screen wraps). However, I am not confident in that assertion.</li>
      <li>This is a proof of concept. It was put together quickly in a language I don't really know. If it turns out to work and be enjoyable for
          people, I'll put a lot more time into it. But for now, expect bugs.</li>
  </ul>
  <p>Created by <a href="https://twitch.tv/cantfindbombs">CantFindBombs</a><br />
     Thanks to:
    <ul>
      <li><a href="https://twitch.tv/aceebb">AceEbb</a></li>
    </ul>
  </p>
  <p><a href="https://github.com/adamtrilling/MetroidRandomizer">Source code</a></p>
</div>
